<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Upload</title>
</head>
<body>
<header id="main-header" class="bg-success text-white p-4 mb-3">
    <div class="container">
        <div class="row">
            <div>
                <h1 id="header-title">Implementation of Lightweight machine learning models for Speech Emotion Recognition</h1>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <h1>See Feedback List</h1><br><br>
            <form action="ListView" method="post">
                {% csrf_token %}
            <button type="submit" class="btn btn-primary">View</button>
            </form>
            <br><br><br><br>

            <h1>Upload Feedback</h1><br><br>
            <form action="uploadaction" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Contact No.</label>
                    <input type="text" class="form-control" placeholder="Enter contact no." name="contact">
                    <small class="form-text text-muted">We'll never share your contact with anyone else.</small>
                </div>
                <div class="form-group">
                    <label>File input</label>
                    <input type="file" class="form-control-file" name="audiofile">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>